.highlight-box { 
border: 0px;
background-image: url('../images/sprite1.png');
background-color: transparent;
display: inline-block;
background-position: -10px -369px;
left: 0; 
background-repeat:no-repeat; 
height: 20px; 
width: 20px;
padding: 19px 7px;
}
.btn-warning { 	
	border: 0px;
    background-image: url('../images/sprite1.png');
    background-color: transparent;
    display: inline-block;
	background-position: 0px -175px; 
	width: 146px;
	height: 58px;
    background-repeat:no-repeat;
	padding: 19px 7px;
}
.btn-warning:focus,
.btn-warning.focus {
	background-color: transparent;
	background-position: -11px 0px; 	
	padding: 16px 26px 8px 6px;
}
.btn-warning:hover {
	background-color: transparent;
	background-position: -11px 0px; 
    padding: 16px 26px 8px 6px;	
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
	background-color: transparent;
	background-position: 0px -175px; 
	width: 146px;
	height: 58px;
	padding: 16px 26px 8px 6px;
}
.btn-warning:active:hover,
.btn-warning.active:hover,
.open > .dropdown-toggle.btn-warning:hover,
.btn-warning:active:focus,
.btn-warning.active:focus,
.open > .dropdown-toggle.btn-warning:focus,
.btn-warning:active.focus,
.btn-warning.active.focus,
.open > .dropdown-toggle.btn-warning.focus {
	background-position: 0px -175px; 
	width: 146px;
	height: 58px;
}
.btn-warning:active,
.btn-warning.active,
.open > .dropdown-toggle.btn-warning {
  background-image: none;
}
.btn-warning.disabled:hover,
.btn-warning[disabled]:hover,
fieldset[disabled] .btn-warning:hover,
.btn-warning.disabled:focus,
.btn-warning[disabled]:focus,
fieldset[disabled] .btn-warning:focus,
.btn-warning.disabled.focus,
.btn-warning[disabled].focus,
fieldset[disabled] .btn-warning.focus {
  background-color: #f0ad4e;
  border-color: #eea236;
}
.btn-warning .badge {
  color: #f0ad4e;
  background-color: #fff;
}
